.footer {
    position: relative;
    padding: 5rem 2rem;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}

.logo,
.footerIcons {
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

.icon {
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.4s ease;
}

.icon:hover {
    color: black;
}

.bgFooterMobile {
    position: absolute;
    top: 0;
    left: 0;
}

.bgFooterDesktop {
    display: none;
}

.line {
    width: 100%;
    height: 0.5px;
    margin: 2rem auto;
    background-color: hsl(273, 4%, 51%);
    opacity: 0.6;
}

.p,
.footerLink {
    font-weight: 700;
    text-transform: uppercase;
}

.p {
    margin: 3rem 0 2rem 0;
    color: hsl(273, 4%, 51%);
}

.footerLink {
    color: hsl(270, 9%, 17%);
}

.footerLink:hover {
    text-decoration: underline;
}

.navList {
    margin-bottom: 1rem;
}

.nav,
.footerTop {
    position: relative;
    z-index: 4;
}

.navFlexContainer,
.footerTop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 564px) {

    .navFlexContainer {
        justify-content: center;
    }
}

@media screen and (min-width: 767px) {
    .footer {
        text-align: left;
        padding: 4rem;
    }

    .logo,
    .footerIcons {
        margin-bottom: 0;
    }

    .bgFooterDesktop {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .bgFooterMobile {
        display: none;
    }

    .p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 969px) {
    .col {
        flex-basis: 250px;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding: 4rem 10rem;
    }
}