.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 2rem 1rem;
    position: relative;
    z-index: 10;
}

.hamburger,
.close {
    cursor: pointer;
}

.mainNav {
    display: none;
}

.sideNav {
    position: absolute;
    z-index: 3;
    top: 96px;
    left: 0;
    height: 600px;
    width: 100%;
    background-color: hsl(270, 9%, 17%);
    color: white;
    text-align: center;
    padding: 4rem 2rem;
}

.navList {
    font-weight: 400;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.plansBtn {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-block: 1rem;
    width: 100%;
    color: white;
    border: 2px solid white;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.bgMobileNav {
    position: absolute;
    z-index: 4;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: contain;
}

.mainNavUl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNavList {
    margin-right: 2rem;
    text-transform: uppercase;
    color: hsl(273, 4%, 51%);
    font-weight: 600;
}

.mainNavLink:hover {
    color: black;
}

.navPlan {
    text-transform: uppercase;
    border: 2px solid black;
    padding: 0.5rem 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.navPlan:hover {
    color: white;
    background-color: black;
}


@media screen and (min-width: 700px) {
    .bgMobileNav {
        object-fit: cover;
    }
}

@media screen and (min-width: 767px) {
    .mainNav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .header {
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 768px) {
    .mainNavList {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .header {
        padding: 1rem 5rem;
    }
}