.introMobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.introDesktop {
    display: none;
}

.heading1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
    line-height: 1.2;
}

.violet {
    padding: 5rem 2rem 7rem 2rem;
    background-color: hsl(256, 26%, 20%);
    color: white;
    position: relative;
}

.text{
    position: relative;
    z-index: 2;
}

.p {
    line-height: 1.5;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 98%);
    font-size: 1.1rem;
}

.plansBtn {
    color: white;
    margin-top: 1rem;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0.8rem 1.8rem;
    border: 2px solid white;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transform: 0.4s ease;
}

.bgIntroLeftMobile {
    position: absolute;
    top:0;
    left:0;
}

.bgIntroRightMobile{
    position: absolute;
    bottom:-11rem;
    right:0;
}